.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    
    .subtotal {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; 
        span {
            display: flex;
        }
    }
    .buttonSidebar {
        background-color: #AE9D92;
        color: white;
        border-radius: 0;

            &:hover {
                background-color: #877a71;
                border: none;
                color: white;
                span {
                    color: white;
                    border: none;  
                }
                &:hover {
                    color: white;
                    border: none;
                }
            }
        
    }
    .buttonSidebarFinish {
        background-color: white;
        color: #AE9D92;
        border-radius: 0;

            &:hover {
                background-color: white;
                color: #AE9D92;
                span {
                    color: #AE9D92;
                }
                &:hover {
                    color: #AE9D92;
                    border:1px solid #AE9D92; 
                }
            }
        
    }

}

.sidebarChecekoutContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}