.headerWrapper {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    
    .headerContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1120px;
        padding: 0px 10px;

        .rightSection {
            display: flex;
            gap: 21px;
            .rightSectionIcons {
                font-size: 25px;
            }
        }

        .leftSection {
            display: flex;
            gap: 33px;
            
            p {
                cursor: pointer;
            }
        }
    }
}